#documents_table {
	text-align: center;
}

#documents_table td {
	text-align: center !important;
	vertical-align: middle;
}

.dataTables_scrollHead thead th {
	text-align: center !important;
	vertical-align: middle;
}

#documents_table td button {
	font-size: 12px;
}

#documents_table td span {
	padding: 7px 14px;
    font-size: 12px;
}
    